@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin : 0;
  padding : 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

@layer components {
  .main {
    @apply font-global min-h-screen w-screen leading-loose tracking-wider dark:bg-nord dark:text-pinkish text-lighter-nord bg-cream p-12 text-small tablet:text-regular
  }

  h1 h2 h3 h4 h5 {
    @apply font-extrabold
  }

}